.env
.env.example
.env.production
fly.dev.toml
fly.prod.toml
fly.template.toml

node_modules
api/node_modules
.vscode
.react-router
.github
db
scripts
verifier
Caddyfile
docker-compose.yml
LICENSE
README.md